.globalContainer{
    overflow: visible;
}
body {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-weight: 100;
    font-size: 14pt;
}

.formControl {
    padding-right: 21px;
}

.desc {
    min-height: 400px;
    height: 600px;
    padding: 10px;
    background-image: url('./../img/code4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    opacity: 0.7;
    align-items: center;
    display: flex;
    justify-content: center;
}

.getStarted {
    background-color: #3F4752;
    padding: 15px;
    padding-top: 50px;
}

.gsContent {
    color: #ffffff;
    width: 100%;
    padding: 15px;
}

.gsContent>h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
}

.gsContent>p {
    display: flex;
    justify-content: center;
}

.gsContent>p>span {
    padding: 15px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.gsContent>p>span:span {
    padding: 15px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.transparent {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff!important;
    float: left;
    margin-left: 2.5%;
    height: 50px;
    width: -webkit-fill-available;
    padding-left: 20px;
    font-weight: 500;
}

input::placeholder {
    color: #fff!important;
    font-size: 15px;
}

.headerDiv {
    background-color: black;
    height: 40px;
    width: 100%;
    border-bottom: .5px SOLID #303030;
    font-size: 12px;
    padding-left: 30px;
    padding: 10px;
}

.headerDiv>div {
    padding-left: auto;
    padding-right: auto;
    float: left;
}

.headerDiv>div>span {
    padding-left: 5px;
    padding-right: 5px;
}

.sub {
    color: #3F4752;
}

.text-center {
    text-align: center;
}

.show-grid {
    padding: 15px;
}

.btn-email {
    background: #ffffff!important;
    border-radius: unset;
    color: #3F4752!important;
    width: 100%;
    height: 50px;
    font-size: 15px;
    margin-left: 2.5%;
}

.pd80 {
    padding-bottom: 80px;
}

.desc {
    min-height: 300px;
    background-color: #2A2A2D;
    color: #fff;
}

.desc1 {
    background-image: url('./../img/code2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    opacity: 0.7;
    height: 500px;
}

.desc2 {
    background-image: url('./../img/code3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    opacity: 0.7;
    height: 500px;
}

.text-normal {
    text-align: start;
}

.btn-access {
    background: none!important;
    border: 2px solid #fff;
    color: #fff!important;
    text-transform: uppercase;
    float: left;
    padding-left: 20px;
    font-size: 12px;
    height: 40px;
    font-weight: 500;
    margin-bottom: 0;
}

.btn-access:hover {
    background: #fff!important;
    color: #3F4752!important;
    text-decoration-line: none;
}

.inline-grid {
    display: flex;
    justify-content: center;
}

.h3-class {
    padding-right: 20px;
    margin-bottom: 0px;
    font-size: 35px;
    font-weight: 120;
}

.social {
    font-size: 35px;
    display: inline;
}

.footer {
    background-color: #3F4752;
    padding: 60px;
}

.footer-font {
    font-size: 12px;
    padding-top: 70px;
}

.pd100 {
    padding-bottom: 50px;
    padding-top: 80px;
}

.panel {
    border: 0px;
    /* border-radius: 4px; */
    /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05); */
    box-shadow: 0px;
}

.panel-default {
    background-color: #fff !important;
}

.panel-default>.panel-heading {
    background-image: none;
    background-color: #ffffff;
}

.navItem {
    text-decoration: none;
    color: #9d9d9d;
    font-size: 16px;
    font-weight: 200;
}

.navItem:hover {
    text-decoration: none;
    color: #fff;
}

.containerHead {
    background-color: #000000;
    font-size: 12px;
    border-bottom: 1px solid grey;
    padding-left: 20px;
}

.containerHeadIcon {
    padding: 9px;
}


/* NavBar Style */

.navbar {
    background: black;
    margin-bottom: 0px;
    color: #fff;
    padding-left: 10px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-weight: 600;
    font-size: 1.7rem;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #000000;
}

.dropdown-menu>li>a {
    color: #9d9d9d;
}


/*Home Div*/

.homeDiv {
    min-height: 400px;
    height: 500px;
    padding: 10px;
    background-image: url('./../img/code5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn {
    background: #C3C3C3;
    border-radius: unset;
}



/* Tech Style*/

.tech {
    height: 200px;
    width: 100%;
    background: #E2EAF1;
}

.techIconContainer {
    height: inherit;
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.techIcon {
    height: 100px;
    width: 300px!important;
    background-size: contain;
    display: flex;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}

.carousel {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-inner>.active {
    display: flex;
    height: 100%;
}

.angular {
    background-image: url('./../img/angular.png');
}

.css {
    background-image: url('./../img/css.png');
}

.java {
    background-image: url('./../img/java.png');
}

.ext {
    background-image: url('./../img/extjs.png');
}

.hibernate {
    background-image: url('./../img/hibernate.png');
}

.babel {
    background-image: url('./../img/babel.png');
}

.nginx {
    background-image: url('./../img/nginx.png');
}

.mongo {
    background-image: url('./../img/mongo.png');
}

.python {
    background-image: url('./../img/python.png');
}

.spring {
    background-image: url('./../img/spring.png');
}

.springboot {
    background-image: url('./../img/springboot.png');
}

.sql {
    background-image: url('./../img/sql.png');
}


/* HIW CSS*/

.hiw {
    min-height: 200px;
    height: 500px;
}

.coverImg {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    height: 100%;
    width: 100%;
}

.code {
    background-image: url('./../img/code.png');
}

.code1 {
    background-image: url('./../img/code1.png');
}

.code2 {
    background-image: url('./../img/code2.png');
}

.code3 {
    background-image: url('./../img/code3.png');
}

.code4 {
    background-image: url('./../img/code4.png');
}

.code5 {
    background-image: url('./../img/code5.png');
}

.code6 {
    background-image: url('./../img/code6.png');
}

.code7 {
    background-image: url('./../img/code7.png');
}


/* FAQ CSS*/

.faq {
    min-height: 300px;
    color: #000000;
    padding : 60px;
}


/*ABOUT US*/

.about {
    min-height: 300px;
    padding: 50px;
    color: #000000;
    background: #3F4752;
}

.aboutTitle {
    font-size: 22px;
    font-weight: 700;
    padding: 15px;   
    color:#4EB7FE;
}

.aboutTitle-title {
    font-size: 50px;
    padding-bottom: 15px;
}

.scroll {
    opacity: 0.3;
    background-color: #000000;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    border: none;
}

.scroll:hover {
    opacity: 1;
}

.scroll:active { outline: 0px; border:0px; }

.arrow-up {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -8px;
}

.whatWeDo {
    background-color: #E2EAF1;
    min-height: 300px;
    padding: 50px;
}
.rowHeader {
    margin-bottom: 25px;
    text-align: left;
    font-size: 2.2rem;
    font-weight: 600;
    color:#4EB7FE;

}
.rowHeader-title{
    margin-bottom: 25px;
    text-align: left;
    font-size: 2.5rem;
    color: #000000;
    font-weight: 600;
}
.rowHeader-desc {
    text-align: left;
    font-size: 1.5rem;
    color: #B0B0B0;
}